.BillRow {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
}

.BillRow__bill__paid {
  color: var(--green-accent-color);
  text-align: center;
}

.BillRow__bill__not__paid {
  color: var(--red-accent-color);
  text-align: center;
}

.BillRow__icon__paid {
  background: var(--green-accent-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.BillRow__icon__not__paid {
  background: var(--red-accent-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
