.Dashboard-accounts {
  grid-column: 1;
  grid-row: 1;
  transition: height 500ms 0ms, opacity 500ms 500ms;
}

.Dashboard-bills {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.Dashboard-profile {
  grid-column-start: 2 / 3;
  grid-row: 1 / 3;
}
