.Btn {
  min-width: 100px;
  padding: 8px;
  border-radius: 32px;
  border: none;
  margin: 0px;
  font-size: medium;
  cursor: pointer;
}

.Btn--grey {
  background: var(--filter-bg-color);
  color: var(--secondar-txt-color);
}

.Btn--red {
  background: linear-gradient(
    to bottom right,
    rgb(105, 101, 44) 0%,
    var(--red-accent-color) 100%
  );
  color: var(--secondar-txt-color);
}

.Btn--green {
  background: linear-gradient(
    to bottom right,
    rgb(105, 101, 44) 0%,
    var(--green-accent-color) 100%
  );
  color: var(--secondar-txt-color);
}
