.Btn {
  min-width: 100px;
  padding: 8px;
  border-radius: 32px;
  border: none;
  margin: 0px;
  font-size: medium;
  cursor: pointer;
}

.Btn--grey {
  background: var(--filter-bg-color);
  color: var(--secondar-txt-color);
}

.Btn--red {
  background: linear-gradient(
    to bottom right,
    rgb(105, 101, 44) 0%,
    var(--red-accent-color) 100%
  );
  color: var(--secondar-txt-color);
}

.Btn--red:hover {
  background: linear-gradient(
    to bottom right,
    rgb(105, 101, 44) 0%,
    rgb(139, 41, 41) 100%
  );
  color: var(--secondar-txt-color);
}

.Btn--red:active {
  background: linear-gradient(
    to bottom right,
    rgb(165, 161, 108) 0%,
    rgb(211, 86, 86) 100%
  );
  color: var(--secondar-txt-color);
}

.Btn--green {
  background: linear-gradient(
    to bottom right,
    rgb(105, 101, 44) 0%,
    var(--green-accent-color) 100%
  );
  color: var(--secondar-txt-color);
}

.Btn--green:hover {
  background: linear-gradient(
    to bottom right,
    rgb(105, 101, 44) 0%,
    green 100%
  );
  color: var(--secondar-txt-color);
}

.Btn--green:active {
  background: linear-gradient(
    to bottom right,
    rgb(170, 165, 91) 0%,
    rgb(68, 131, 68) 100%
  );
  color: var(--secondar-txt-color);
}
