.Menu-item {
  color: var(--disabled-txt-color);
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
}

.Menu-item:hover {
  color: var(--secondary-txt-color);
}

.Menu-item.selected {
  color: var(--primary-txt-color);
}

.Menu-item-icon {
  color: var(--disabled-txt-color);
}

.Menu-item-icon.selected {
  color: var(--red-accent-color);
}
