.Menu-item {
  color: var(--disabled-txt-color);
  padding: 12px;
  text-decoration: none;
}

.Menu-item:hover {
  color: var(--secondary-txt-color);
}

.Menu-item.active {
  color: var(--primary-txt-color);
}
