.Text-title {
  padding: 8px;
  margin: 0;
}

.Text--primary {
  color: var(--primary-txt-color);
}

.Text--secondary {
  color: var(--secondary-txt-color);
}

.Text--disabled {
  color: var(--disabled-txt-color);
}

.Text--inherit {
  color: inherit;
}

.Text--small {
  font-size: small;
}
