.App-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  min-height: 100%;
  grid-gap: 1em;
  align-items: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 64px;
  color: #fdfdfe;
}

.App-title {
  padding: 8px;
  margin: 0;
}

.App-subtitle {
  padding: 8px;
  margin: 0;
}

.App-intro {
  font-size: large;
}
