.App-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1em;
  align-items: center;
  padding: 1em;
  align-content: stretch;
  height: 100%;
}

.App-logo {
  height: 80px;
  justify-self: center;
}

.App-header {
  height: 64px;
}

.App-content {
  grid-column: 2 / span 2;
  grid-gap: 1em;
  border-radius: 25px;
  background: var(--content-bg-color);
  height: 100%;
}

.App-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2em;
  margin: 2em;
}

.App-content-full-width {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
