.App-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  min-height: 100%;
  grid-gap: 1em;
  align-items: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 64px;
}

.App-intro {
  font-size: large;
}

.App-title {
  /* display: inline; */
  color: wheat;
  /* vertical-align: center; */
  /* text-align: center; */
}
