:root {
  --primary-bg-color: #333b4e;
  --primary-txt-color: #fdfefd;
  --secondary-txt-color: #d6dde6;
  --disabled-txt-color: #a7b1cc;
  --main-padding: 8px;
}

html {
  box-sizing: border-box;
  background: var(--primary-bg-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
