:root {
  --primary-bg-color: #333b4e;
  --panel-bg-color: #333b4e8e;
  --content-bg-color: #282f3d8e;
  --filter-bg-color: #485264;
  --primary-txt-color: #fdfefd;
  --secondary-txt-color: #d6dde6;
  --disabled-txt-color: #a7b1cc;
  --green-accent-color: #91ee53;
  --red-accent-color: #f15d93;
  --main-padding: 8px;
}

html {
  box-sizing: border-box;
  background: var(--primary-bg-color);
  color: var(--primary-txt-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
}
